{% load static %}

<div class="col-lg-4 col-sm-6 mb-3">
    <div class="product-card">
      <div class="product-thumb">
        <a href="{% url "catalog:item_detail" 1 %}"><img src="{% static "img/carousel/1.jpg" %}"></a>
      </div>
      <div class="product-details">
        <h4><a href="{% url "catalog:item_detail" 1 %}">Bere</a></h4>
        <p>Some description</p>
        <div class="product-bottom-details d-flex justify-content-between">
          <div class="product-price">
            $999
          </div>
          <div class="product-links">
            <a href="#">В избранное</a>
          </div>
        </div>
      </div>
    </div>
  </div>