{% extends "base.html" %}


{% block content %}
  {% load static %}
  <section class="item_detail">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="main-image">
            <img src="{{ item.main_image.get_image_300x300.url }}">
          </div>
          <div class="row sub-images">
            {% for sub_image in item.images.all %}
            <div class="col-3 sub-image">
              <img src="{{ sub_image.get_image_300x300.url }}">
            </div>
            {% endfor%}
          </div>
        </div>
        <div class="col-6">
          <h1>{{ item.name }}</h1>
          <h2>{{ item.category.name }}</h1>
          {% for tag in item.tags.all %}
            {% include "catalog/tag.html" with tag=tag %}
          {% endfor %}
          <p>{{ item.text|safe }}</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
